//Esquema de colores

//primer esquema de colores white
$white: #fff;
$isabelline: #ececec;
$light-gray: #d1d1d1;

//segundo esquema de colores black
$smoky-black: #0c0910;
$granite-gray: #646266;
$quick-silver: #a6a5a8;

//typography
$Old-standar-tt: 'Old Standard TT', serif;
$Raleway: 'Raleway', sans-serif;

//Peso de fuente
$regular: 400;
$bold: 700;

//font-sizes
$xxx-large: 50px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;
